<section class="bus-details">

<div class="details">
<h1><%= @bus.name %></h1>
<p>
 <%= @bus.source %>
</p>
<p>
<%= @bus.destination %>
</p>
<p>
<%= @bus.fare %>
</p>
<p>
<%= @bus.description%>
</p>
<p>
<%= @bus.start_at%>
</p>
<p>
<%= @bus.quantity %>
</p>
<%# <div class="book ticket">
<%= link_to "book!", new_bus_ticket_path(@bus),
         class: "book" %>
<%# <p>
<%=  link_to "Book ticket", bus_tickets_path(@bus) %>
<%# </p>
</div> %> 

</section>

<div class="col-md-4">
<%= render 'reservations/form' %>
</div>
</div>

    <%# <% if current_user_admin? %>
        <%# <section class="admin">    %>
          <%# <%=link_to "Edit", edit_bus_path(@bus), class: "button" %>  
          <%# <%=link_to "Delete", @bus, class: "button", method: :delete,  %>
                      <%# data: { confirm: "Really?!" } %>    

         <% if current_user_admin? %>
        <section class="admin">    
          <%=link_to "Edit", edit_bus_path(@bus), class: "button" %>  
          <%=link_to "Delete", @bus, class: "button", method: :delete, 
                      data: { confirm: "Really?!" } %>



</section>

<% end %>
