<!DOCTYPE html>
<html>
  <head>
    <title>BusReservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%# <a href= "/seats">All Seats"</a>
  <%= link_to "All seats", seats_path %> 

  <%= render "layouts/header" %>
  
  <div class="content">
  
  <%=render "layouts/flash" %>
   <%= yield %>
   </div>
  </body>
</html>